.banner{
  background-color: black;
 /* background-image: url("/Images/Logo.jpg");*/
  min-height: 27rem;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-link{
  color: #81b754 !important;
}

.navbar-brand{
  color: #81b754 !important;
}

.Patua{
  font-family: 'Patua One', cursive;
}

.Secular{
  font-family: 'Secular One', sans-serif;
}

.Roboto{
  font-family: 'Roboto', sans-serif;
}